@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap');
@import "_meshes.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: #ffffff;
    --foreground: #020817;

    --muted: #f1f5f9;
    --muted-foreground: #64748b;

    --popover: #ffffff;
    --popover-foreground: #020817;

    --card: #ffffff;
    --card-foreground: #020817;

    --border: #e2e8f0;
    --input: #e2e8f0;

    --primary: #0f172a;
    --primary-foreground: #f8fafd;

    --secondary: #f1f5f9;
    --secondary-foreground: #0f172a;

    --accent: #f1f5f9;
    --accent-foreground: #0f172a;

    --destructive: #ef4444;
    --destructive-foreground: #f8fafd;

    --ring: #020817;

    --radius: 0.5rem;
  }

  .dark {
    --background: #020817;
    --foreground: #f8fafd;

    --muted: #1e293b;
    --muted-foreground: #94a3b7;

    --popover: #020817;
    --popover-foreground: #f8fafd;

    --card: #020817;
    --card-foreground: #f8fafd;

    --border: #1e293b;
    --input: #1e293b;

    --primary: #f8fafd;
    --primary-foreground: #0f172a;

    --secondary: #1e293b;
    --secondary-foreground: #f8fafd;

    --accent: #1e293b;
    --accent-foreground: #f8fafd;

    --destructive: #7f1d1d;
    --destructive-foreground: #f8fafd;

    --ring: #ccd5e0;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  height: 100%;
  min-height: 100dvh;
}